<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://clubmanager-booking-e3a9bwfeenh0e4fm.northeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/217d5211-ad34-4c8c-b643-4037b7cf01d9/resourceGroups/booking/providers/Microsoft.Web/sites/clubmanager-booking</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://clubmanager-booking-e3a9bwfeenh0e4fm.scm.northeurope-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>